<div class='row'>
  <% @posts.each do |post| %>
    <div class="card mb-3" style="max-width: 530px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img style='width: 170px;' src="<%= rails_blob_url(post.header_image) %>" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body d-flex flex-column">
            <h5 class='card-title'><%= post.title %></h5>
            <p class='text-secondary mb-0'><%= truncate(post.description, length: 200) %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary mt-auto">Read More</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>